<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.angularjs.org/1.6.9/angular.js"></script>
        <script>
            var app = angular.module('registration',[]) 
            app.controller('regcontroller', function($scope) 
            { 
                
                
            }); 
        </script>
        <style>
        body {
            background-image: url('ch.jpg');
          }

        div.a{
            font-size: large;
            color: yellow;
        }
          </style>
       
        

    </head>

    <body ng-app="registration" style="color: white;">
        <form  ng-controller="regcontroller" name="regform"> 
            <br>
            <br><br><br><br><br><br>
            <br>
            <br>
           
            <h1>Christmas Megaplay 2022 Registration Form</h1>
           <div class="a">
            <table style="align-items:center ;">
                <tr>
                    <td style="width:35%"><label for="name">Name : </label><span style="color: red">*</span></td>
                    <td><input type="text" ng-model="name" id="name" name="name" required pattern="[a-z,A-Z]{1,}">
                    <span style="color: red" ng-show="regform.name.$error.required">Name is required</span>
                    <span style="color: red;" ng-show="regform.name.$error.pattern">Name is invalid</span></td>
                    
                </tr>
                <tr>
                    <td><br></td>
                    <td><br></td>
                </tr>
                <tr>
                    <td><label for="register" >Register Number:</label><span style="color: red">*</span></td>
                    <td><input type="text" ng-model="register" id="register" name="register" required>
                        <span style="color: red" ng-show="regform.register.$error.required">Register Number is required</span>
                       </td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr>
                    <td><label for="register" class="box">Year of Study:</label><span style="color: red">*</span></td>
                    <td><input type='radio' name="year" ng-model="year" value="1st" required>1st
                        <input type='radio' name="year" ng-model="year" value="2nd" required>2nd
                        <input type='radio' name="year" ng-model="year" value="3rd" required>3rd
                        <input type='radio' name="year" ng-model="year" value="4th" required>4th
                        <span style="color: red;"ng-show="regform.year.$error.required"> Year is required</span>
                        </td>
                </tr>
    
                <tr>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr>
                    <td><label for="age">Age : </label><span style="color: red">*</span></td>
                    <td><input type="number" ng-model="age" id="age" name="age" required min="18" max="30">
                        <span style="color: red" ng-show="regform.age.$error.required">Age is required</span>
                        <span style="color: red;" ng-show="regform.age.$error.min">Age is invalid</span>
                        <span style="color: red;" ng-show="regform.age.$error.max">Age is invalid</span></td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr>
                    <td><label for="number">Mobile Number : </label><span style="color: red">*</span></td>
                    <td><input type="number" ng-model="number" id="number" name="number" required pattern="[0-9]{10}">
                        <span style="color: red" ng-show="regform.number.$error.required">Number is required</span>
                        <span style="color: red;" ng-show="regform.number.$error.pattern">Mobile number is invalid</span></td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr>
                    <td><label for="email">Email : </label><span style="color: red">*</span></td>
                    <td><input type="email" ng-model="email" id="email" name="email" required>
                        <span style="color: red" ng-show="regform.email.$error.required">Email is required</span>
                        <span style="color: red" ng-show="regform.email.$error.email">Email Format</span></td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr>
                    <td><label for="gender">Gender :</label><span style="color: red">*</span></td>
                    <td><input type="radio" ng-model = 'gender' name="gender" value="male" id="gender" required>Male 
                        <input type="radio" ng-model = 'gender' name="gender" value="female" id="gender" required>Female
                        <span style="color: red" ng-show="regform.gender.$error.required">Gender is required</span></td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr>
                    <td><label for="activity">Activity:</label><span style="color: red">*</span></td>
                    <td><select ng-model="activity" id="activity" name="activity" required> 
                        
                        <option value="song">Song</option> 
                        <option value="dance">Dance</option> 
                        <option value="drama">Drama</option> 
                        <option value="mime">Mime</option>
                        <span style="color: red" ng-show="regform.activity.$error.required">Activity is required</span></td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="submit" ng-disabled=" regform.name.$error.required || regform.password.$error.required || regform.age.$error.required ||
                         regform.number.$error.required || regform.email.$error.required || regform.gender.$error.required || regform.state.$error.required" ></td>
                </tr>

                

            </table>
        </div> 
             
        </form> 
    </body>
</html>
